<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Games King</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&display=swap" rel="stylesheet">

    {% block styles %}
    {% endblock styles %}
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="/styles/responsive.css">
</head>
<body>
    {% block content %}
    {% endblock content %}

    {% block modal %}
    {% endblock modal %}

    <footer>
        <h4>Jair Aparecido de Oliveira &copy</h4>
    {% include "partials/social.html" %}
    </footer>

</body>
</html>