<div id="social">
    <!--Facebook-->
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&width=139&height=20&appId" width="139" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

    <!--Twitter--->
    <a href="https://twitter.com/intent/tweet?button_hashtag=GamesKing&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #GamesKing</a>
    <script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>