#founded{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#founded h3{
    color: rgba(0, 205, 0);
}

#field-cards{
    background-color: rgb(230, 228, 228);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    max-width: 1200px;
    margin:10px auto;
}

.field-store{
    margin: 8px;
    background-color: white;
    border-radius: 8px;
    max-width: 350px;
    text-align: center;
    background-color:rgba(28, 134, 238);
}

.field-informs{
    width: 100%;
    text-align: left;
    margin-left: 3px;
}

.field-store img{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
}

.field-store h1{
    color: rgb(214, 214, 214);
    width: 100%;
}

#not-found{
    text-align: center;
}